.App {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 1.5rem;

}
.container{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}


